* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}
.main_content {
    width: 100%;
}
header {
    width: 100%;
    padding: 15px 40px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.side_bar {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.side_bar .side_bar_title {
    padding: 20px;
    color: #457eff;
}

.side_bar .side_bar_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side_bar .side_bar_content a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.main_content table {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}
main {
    background-color: #f5f6fa;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0px 20px;
}
.main_title {
    font-size: 20px;
    font-weight: 700;
}
.box_input {
    position: relative;
}
.box_input svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    left: 15px;
    color: #8a8a8c;
}

.box_input input {
    border-radius: 50px;
    border: none;
    padding: 10px 0px 10px 45px;
    width: 500px;
    background-color: #f5f6fa;
}
.box_input input:focus {
    outline: none;
}
.header_left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn_update {
    width: 50px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.btn_delete {
    width: 50px;
    background-color: red;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

thead {
    background-color: #fcfdfd;
    border-radius: 10px 10px 0px 0px;
}

thead th {
    padding: 7px;
}
tbody {
    background-color: white;
}
tbody tr td {
    padding: 7px;
}
img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header_right {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header_right p {
    font-size: 13px;
}

.header_right_icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_right_icon svg {
    width: 10px;
    height: 10px;
}
